.counter{
    
    margin-top: 120px;
    background-color: rgb(30, 26, 41);
    color: rgb(201, 160, 107);
    border: solid ;
    text-align: center;
    border-radius: 15px;
    
    
    
  
   
}

.counter div{
    margin: auto;
    display: inline-block;
    font-size: 58px;
    line-height: 20px;
    height: 18px;
    padding: 10px;
    
   
    
}
